.idea/
.idea
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
xiaohtstyle/storage/framework/
xiaohtstyle/public/storage
xiaohtstyle/public/build/
yii2-basic/runtime/cache/*
yii2-basic/runtime/debug/*
yii2-basic/runtime/HTML/*
yii2-basic/runtime/logs/*
yii2-basic/runtime/URI/*
yii2-basic/web/assets/*
yii2-advanced/backend/runtime/cache/*
yii2-advanced/backend/runtime/debug/*
yii2-advanced/backend/runtime/HTML/*
yii2-advanced/backend/runtime/logs/*
yii2-advanced/backend/runtime/URI/*
yii2-advanced/backend/web/assets/*
yii2-advanced/frontend/runtime/cache/*
yii2-advanced/frontend/runtime/debug/*
yii2-advanced/frontend/runtime/HTML/*
yii2-advanced/frontend/runtime/logs/*
yii2-advanced/frontend/runtime/URI/*
yii2-advanced/frontend/web/assets/*